/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-jan-11, 11:29:43
    Author     : maikwagner
*/



table{
    border: 1;
};
div.seLoggbok{
    padding-left: 1%;
    padding-right: 1%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1em;
    background-color: #bce8f1;
    border-style: ridge;
    border-radius: 5px;
}
.ridge{
    border-style: ridge;
}
#kommentarDiv{
    padding-top: 1em;
    padding-bottom: 1em;
}

textarea.loggbok {
    width:100%;
}
.ljus {
    width:33%;
    height: 50px;
    opacity: 0.30;
    float: left;
}
.ljus.gron {
    background-color: green;
}
.ljus.gul {
    background-color: yellow;
}
.ljus.rod {
    background-color: red;
}
.ljus.vald {
    opacity: 1;
}
.narvaro_dag{
    height:10%;
    width: 14.2%;
    float:left;
    text-align: center;
}
.narvaro_dag.gron {
    background-color: rgb(100,255,100);
}
.narvaro_dag.gul {
    background-color: rgb(255,255,100);
}
.narvaro_dag.rod {
    background-color: rgb(255,100,100);
}
.narvaro_dag.vit {
    background-color: rgb(200,200,200);
}
.narvaro_dag.idag {
    box-shadow: 0 0 5px #0000FF inset;
}
#wrapper>div {
    overflow:auto;
}

header + div {
    margin-top: 60px;
}

.aktivitet {
    display: none;
}
.fright{
    float: right;
    margin-right: 2em;
}
.faded{
    background: -webkit-linear-gradient(#333, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tcenter{
    text-align: center;
}
.bright{
    border-left: #333 thin solid;  
}
.mleft{
    margin-left: 2em;
}
.center-img{
    margin: 0 auto;
}

table#kontakt { 
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Agenda-Light, sans-serif;
    font-weight: 100; 
    background: #333; color: #fff;
    text-rendering: optimizeLegibility;
    border-radius: 5px; 
}
table#kontakt caption { 
    font-size: 2rem; color: #444;
    margin: 1rem;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/miyazaki.png), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/miyazaki2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left, center right; 
}
table#kontakt thead th { font-weight: 600; }
table#kontakt thead th, table#kontakt tbody td { 
    padding: .8rem; font-size: 1.4rem;
}
table#kontakt tbody td { 
    padding: .8rem; font-size: 1.4rem;
    color: #444; background: #eee; 
}
table#kontakt tbody tr:not(:last-child) { 
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;  
}

@media screen and (max-width: 750px) {
    table#kontakt caption { background-image: none; }
    table#kontakt thead { display: none; }
    table#kontakt tbody td { 
        display: block; padding: .6rem; 
    }
    table#kontakt tbody tr td:first-child { 
        background: #666; color: #fff; 
    }
    table#kontakt tbody td:before { 
        content: attr(data-th); 
        font-weight: bold;
        display: inline-block;
        width: 6rem;  
    }
}