#projekt filer
/nbproject/

#använd npm install
/node_modules/

#genereras av grunt
/js/
/css/

#ska inte ändras
src/js/globalVars.js

#bower filer använd bower install
/bower_components/

#build folder
/build/
css/style.css
css/style.css.map
/dist/