<html ng-app="elevHandledare">
    <head>
        <title>APL</title>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
        <link href="justified-nav.css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="lärareCtrl">

        <form class="form-signin" name="regForm">
            <h1>Koppla elever till handledare:</h1>
            <table class="table table-striped">
                <tr>
                    <td><label>Elever</label></td>
                    <td><label>Handledare</label></td>
                </tr>
                <tr ng-repeat="elev in elever">
                    <td>{{elev.namn}}</td>
                    <td>
                        <select ng-model="selectedValue">
                            <option ng-repeat="handledaren in handledare" value="{{handledaren.id}}">{{handledaren.namn}}</option>
                        </select>
<!--                        <select ng-model="selectedHandledare" 
                                ng-options="handledaren.id as handledaren.namn for handledaren in handledare" ng-change="alert(handledare[selectedHandledare - 1])">
                        </select>-->
                    </td>
                </tr>
            </table>
        </form> 
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="js/aplapp.min.js"></script>
    </body>
</html>
