    <!DOCTYPE html>
    <html lang="en">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" href="http://getbootstrap.com/favicon.ico">

        <title></title>

        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

        <link href="justified-nav.css" rel="stylesheet">
    <body>
        
        <form class="form-signin" name="regForm">
            <h2>Registrera användare</h2><br/>
         <div class="form-group">
             <label>Namn</label>
             <input ng-model="name" type="text" name="namn" class="form-control" placeholder="-namn -efternamn?">
             <p></p>
         </div>
         <div class="form-group">
             <label>E-mail</label>
             <input ng-model="email" type="email" name="email" placeholder="Fyll i din email. Gmail?" class="form-control">
             <p></p>
         </div>
         <div class="form-group">
             <label>Telefon</label>
             <input ng-model="telefon" type="tel" name="tele" placeholder="+46735018846" class="form-control">
             <p></p>
         </div>
         <div class="form-group">
             <label>Klass</label>
             <input ng-model="klass" type="text" name="klass" placeholder="Dropdown?" class="form-control">
             <p></p>
         </div>
         <div class="form-group">
             <label>Lärare</label>
             <input ng-model="larare" type="text" name="larare" placeholder="Dropdown?" class="form-control" >
             <p></p>
         </div>

         <button type="button" class="btn btn-lg btn-primary btn-block">Registrera</button>
         </form>
    
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <!-- Own javascript files -->
        
        <script src="register/register.js"></script>
    </body>
    
    </html>