    <!DOCTYPE html>
    <html lang="en">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link rel="icon" href="http://getbootstrap.com/favicon.ico">

        <title>APL</title>

        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

        <link href="justified-nav.css" rel="stylesheet">
        
    <body>
        
        
        
        
        <form class="form-signin" name="regForm">
            <h2>Registrera användare</h2><br/>
         <div class="form-group">
             <label>Namn</label>
             <input ng-model="name" type="text" name="namn" class="form-control" placeholder="Förnamn"></br>
             <input ng-model="name" type="text" name="namn" class="form-control" placeholder="Efternamn">
             
             <p></p>
         </div>
         <div class="form-group">
               
<!--             <label>E-mail</label>
             <input ng-model="email" type="email" name="email" placeholder="Fyll i din email. Gmail?" class="form-control">
             <p></p>-->
         </div>
         <div class="form-group">
             <label>Telefon</label>
             <input ng-model="telefon" type="tel" name="tele" placeholder="+4607999999" class="form-control">
             <p></p>
         </div>
         <div class="form-group">
             <label>Klass</label>
             <input ng-model="klass" type="text" name="klass" placeholder="Dropdown?" class="form-control">
             <p></p>
         </div>
         <div class="form-group">
             <label>Lärare</label>
             <input ng-model="larare" type="text" name="larare" placeholder="Dropdown?" class="form-control" >
             <p></p>
         </div>
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                <script>
                  function onSignIn(googleUser) {
                    // Useful data for your client-side scripts:
                    var profile = googleUser.getBasicProfile();
                    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                    console.log("Name: " + profile.getName());
                    console.log("Image URL: " + profile.getImageUrl());
                    console.log("Email: " + profile.getEmail());

                    // The ID token you need to pass to your backend:
                    var id_token = googleUser.getAuthResponse().id_token;
                    console.log("ID Token: " + id_token);
                  };
                </script>
<!--         <button type="button" class="btn btn-lg btn-primary btn-block">Registrera</button>-->
         </form>
    
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <!-- Own javascript files -->
        
        <script src="register/register.js"></script>
    </body>
    
    </html>