<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="apl">
    <head>
        <title>APL-App - Växjö Kommun</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="../css/style.css" rel="stylesheet"/>
        <link rel='shortcut icon' type='image/x-icon' href='../vaxjo_favikon.ico' />
    </head>
    <body class="mrwhite">
        <h1 class="tcenter">Logga in</h1>
        <hr>
        <form>
            <div ng-controller="loginCtrl" ng-init="handledareInit()" class="container text-center">
                <h2>Handledare</h2>
                <input ng-model="username" type='text' placeholder='Användarnamn'>
                <br/><br/>
                <input ng-model="password" type='password' placeholder='Lösenord'>
                <br/><br/>
                <button ng-click="handledareLogin()" class="btn btn-primary">Login</button>
                <br/>
            </div> 
        </form>
        <div id="alerts"></div>
        <!-- jquery, angular, angular-ui och bootstrap -->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="../bower_components/Chart.js/Chart.min.js"></script>
        <script src="../bower_components/angular-chart.js/dist/angular-chart.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- min konfigurationsfil -->
        <script src="../js/aplapp.min.js"></script>
    </body>
</html>
