 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">APL</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a ui-sref='elev_se_loggbok'>Start</a></li>
            <li><a href="#about">Närvaro</a></li>
            <li><a href="elev_loggbok">Lägga till loggbok</a></li>
            <li><a href="#contact">Moment</a></li>
            <li><a ui-sref='elev_loggbok'>Elev loggbok</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Elev sida</a></li>
            <li><div ng-controller="elevCtrl">
            <a class="btn btn-primary" ng-click="logout()">Logga ut</a>
            </div></li>
          </ul>
        </div>
      </div>
    </nav>