<header ng-include="'templates/headers/elevhead.html'"></header>
<div ng-controller="elevSeLoggCtrl">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 
         col-md-offset-1 col-sm-offset-1 col-xs-offset-1" id="wrapper">
        <div class="well ridge">
            <h1 class="text-center">Tidsflöde för alla mina loggar</h1>
            <div class="seLoggbok" ng-repeat="logg in loggar">
                <h3>{{logg.namn}} <span class="small">{{logg.datum}}</span></h3>
                <div id="inlägg">
                    <p>
                        {{logg.innehall}}
                    </p>
                    <p>Jag tyckte att denna dagen var {{logg.intryck}}.</p>
                    <img class="img-responsive center-img" ng-if='logg.bild !== null' ng-src="{{getBildUrl(logg.bild)}}" alt="Uppladdad bild" />
                </div>
                <div id="kommentarDiv" ng-controller="kommentarCtrl">
                    <input class="form-control" placeholder="Kommentar" id="{{logg.ID}}"/>
                    <button class="btn btn-default" 
                            ng-click="postKommentar(logg.ID)">
                        Skicka kommentar
                    </button>
                    <button class="btn btn-default" ng-click="laddaKommentar(logg.ID)">Ladda kommentarer</button>
                </div>
                <div ng-controller="kommentarCtrl" id="{{logg.ID}}kommentar">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<footer ng-include="'templates/footer.html'"></footer>
