<header ng-include="'templates/headers/elevhead.html'"></header>
<div ng-init="getPeople()">
    <div class="well text-center col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <h1>Skriv om vad du gjort idag:</h1>
        <label>Datum:</label>
        <input ng-model="datum" type="date"/>
        <br/>
        <textarea class="loggbok" ng-model="text" placeholder="Skriv din loggbok här"></textarea>
        <div ng-include="'templates/sendfile.html'"></div>
        <img id="loggimg" src="" />
        <h2>Hur kände du om dagen? <small>(Din handledare ser ej detta)</small></h2>
        <div class="ljus rod" ng-click="valj('rod')"></div>
        <div class="ljus gul" ng-click="valj('gul')"></div>
        <div class="ljus gron" ng-click="valj('gron')"></div>
        <a class="btn btn-primary btn-lg" ng-click="postLogg()">Skicka</a>
    </div>
</div>
<footer ng-include="'templates/footer.html'"></footer>
