<header ng-include="'templates/headers/elevhead.html'"></header>
<div>
    <div class="well text-center col-sm-12 col-md-10 col-md-offset-1">
        <h1>Lägg till närvaro</h1>
        <hr>
        <div>
            <label>Datum:</label>
            <input ng-model="datum" id="dateInput" type="text" placeholder="ÅÅÅÅ-MM-DD"/>
            <br/><br/>
            <div>
                <h2>Hur länge var du på arbetsplatsen?</h2>
                <div>
                    <p class="third">Hela dagen</p>
                    <p class="third">Delar av dagen</p>
                    <p class="third">Inte alls</p>
                </div>
                <div class="clear"></div>
                <div>
                    <div class="ljus gron" ng-click="getLjus('gron')"></div>
                    <div class="ljus gul" ng-click="getLjus('gul')"></div>
                    <div class="ljus rod" ng-click="getLjus('rod')"></div>
                </div>
                <br/>
                <br/>
                <br/>
                <a class="btn btn-success btn-lg" ng-click="skickaNarvaro()">Skicka</a>
            </div>
        </div>
    </div>
</div>
<footer ng-include="'templates/footer.html'"></footer>
