<header ng-include="'templates/headers/elevhead.html'"></header>
<div class="container">
    <div class='jumbotron'>
        <h1>Kontakt</h1>
    </div>
    <table class="table table-striped" style="width:100%">
        <tr>
            <th>Namn</th>
            <th>Mail</th>
            <th>Telefonnummer</th>
        </tr>
        <tr ng-repeat="kontakt in kontakter">
            <td>{{kontakt.namn}}</td>
            <td>{{kontakt.mail}}</td>
            <td>{{kontakt.tfnr}}</td>
        </tr>
    </table>
</div>
