<header ng-include="'templates/headers/elevhead.html'"></header>
    <div class="container">
    <div class="jumbotron">
        <h1>Moment:</h1>
    </div>
    <table class='table table-bordered table-striped'>
        <tr>
            <td><div class="col-lg-7 ">Lorem Ipsum on lihtsalt proovitekst, mida kasutatakse printimis- ja ladumistööstuses.</div></td>
            <td><div class="col-lg-3 ">Icke avklarad</div></td>
            <td><div class="col-lg-2 ">Klar? <input type="checkbox"></div></td>

        </tr>
        <tr>
            <td><div class="col-lg-7 ">Lorem Ipsum on lihtsalt proovitekst, mida kasutatakse printimis- ja ladumistööstuses.</div></td>
            <td><div class="col-lg-3 ">Avklarad</div></td>
            <td><div class="col-lg-2 ">Klar? <input type="checkbox"></div></td>
        </tr>
    </table>
        <button class="btn btn-success"><p>Skicka klarade<br>
till Handledaren</p></button>
</div>
