<header ng-include="'templates/headers/elevhead.html'"></header>
     <div class="container">
    <div class='jumbotron'>
        <h1>Kontakt</h1>
    </div>
    <table class="table table-striped" style="width:100%">
        <tr>
            <td>Namn:</td>
            <td>Telefon:</td>		
            <td>E-mail:</td>
        </tr>
        <tr>
            <td>Johan Lennartsson</td>
            <td>073776688</td>	
            <td>jol_le@hotmail.se</td>
        </tr>
        <tr>
            <td>Anders Iwarsson</td>
            <td>0734125412</td>		
            <td>anderslol@gmail.com</td>
        <tr>
            <td>Lasse Ohlsson</td>
            <td>075642932</td>
            <td>lasseolikus@hotmail.se</td>
        </tr>
    </table>
</div>
