<header ng-include="'templates/headers/elevhead.html'"></header>
<div>
    <div class="well text-center col-sm-12 col-md-10 col-md-offset-1">
        <h1 class="text-center" >Moment</h1>
        <hr>
        <table class='table table-bordered table-striped'>
            <tr>
                <th>Innehåll av momentet</th>
                <th>Status</th>
                <th>Skicka in som godkänd</th>

            </tr>
            <tr ng-repeat="momenten in moment">
                <td>{{momenten.innehall}}</td>
                <td>{{getStatus(momenten.godkand)}}</td>
                <td><a ng-if="Status(momenten.godkand)" ui-sref="elev_moment"
                       class="btn btn-success" 
                       ng-click="setStatus(momenten.moment_id)">Skicka</a></td>
            </tr>
        </table>
    </div>
</div>
<footer ng-include="'templates/footer.html'"></footer>
