<div ng-controller="larareCtrl">
<div ng-init="getPeople()">
    <div class="well text-center col-sm-6 col-sm-offset-3">
        <h1>Koppla elever till handledare:</h1>
        <form>
            <table class="table table-striped">
                <tr>
                    <td><label>Elever</label></td>
                    <td><label>Handledare</label></td>
                </tr>
                <tr ng-repeat="elev in elever">
                    <td>{{elev.namn}}</td>
                    <td>
                        <select class="dropdown"
                                ng-init="elev.ny_handledare = elev.handledare_ID"
                                ng-model="elev.ny_handledare"
                                ng-options="item.ID as item.namn for item in handledare">
                        </select>
                    </td>
                </tr>
            </table>
            <a ng-click="kopplaElevHandledare()" class="btn btn-primary">Skicka</a>
        </form>
    </div>
</div>
<footer ng-include="'templates/footer.html'"></footer>
