<header ng-include="'templates/headers/lararehead.html'"></header>
<!--<script src="../js/aplapp.min.js"></script>-->
<div ng-controller="natverkCtrl">
    <div>Sök:<input type="text" ng-model="query">
        <table class="table table-striped table-responsive">
            <tr>
                <td>Namn</td>
                <td>Epost</td>
                <td>Telefonnummer</td>
                <td>Företag</td>
                <td>Program</td>
            </tr>
            <tr ng-repeat="handledaren in program|filter:query">
                <td>{{handledaren.handledare}}</td>
                <td>{{handledaren.email}}</td>
                <td>{{handledaren.telefonnummer}}</td>
                <td>{{handledaren.foretag}}</td>
                <td>{{handledaren.namn}}</td>
            </tr>
        </table>
    </div>
</div>
