<header ng-include="'templates/headers/lararehead.html'"></header>
</br>
<h1>Loggbok</h1>

<!--<div ng-controller="larareSeLoggCtrl">

    <div class="SeLoggbok" ng-repeat="logg in loggar">
        <h3>{{logg.elev_id}} <span class="small">{{logg.datum}}</span></h3>
        <div id="inlägg">
            <p>
                {{logg.innehall}}
            </p>
            <p>{{logg.intryck}}</p>
            <p>

            </p>
        </div>
        <div id="kommentarDiv">
            <input class="form-control" placeholder="Kommentar"/>
            <button class="btn btn-default">Skicka kommentar</button>
        </div>
    </div>
</div>-->