<header ng-include="'templates/headers/lararehead.html'"></header>

<div ng-controller="larareKontaktCtrl">
    <table class="table table-striped table-responsive">
        <tr>
            <th>Elevens namn</th>
            <th>Elevens mail</th>
            <th>Elevens telefonnummer</th>
            <th>Handledarens namn</th>
            <th>Handledarens mail</th>
            <th>Handledarens telefonnummer</th>
        </tr>
        <tr ng-repeat="uppgift in kontaktUppgifter">
            <td>{{uppgift.elevanamn}}</td>
            <td>{{uppgift.elevmail}}</td>
            <td>{{uppgift.elevnummer}}</td>
            <td>{{uppgift.hlnamn}}</td>
            <td>{{uppgift.hlmail}}</td>
            <td>{{uppgift.hlnummer}}</td>
        </tr>
    </table>
</div>
<footer ng-include="'templates/footer.html'"></footer>