<body ng-app="test">
<header ng-include="'templates/headers/lararehead.html'"></header>
<!--<div ng-controller="larareSeLoggCtrl">-->
    

    <div class="row">
        <div class="col-lg-10 col-lg-10 col-lg-10 " >
            <div class="dropdown">
                <select ng-model="valdElev" ng-change="getElev()">
                    <option ng-repeat=" elev in elever" value="{{elev.ID}}">
                        {{elev.namn}}
                    </option>
                </select>
            </div>
        </div>
    </div>
  


    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 
         col-md-offset-1 col-sm-offset-1 col-xs-offset-1" id="wrapper">
        <div class="well ridge">
            <h1 class="text-center">Tidsflöde för alla mina loggar</h1>
            <div class="seLoggbok" ng-repeat="logg in loggar">
                <h3>{{logg.namn}} <span class="small">{{logg.datum}}</span></h3>
                <div id="inlägg">
                    <p>
                        {{logg.innehall}}
                    </p>
                    <p>Jag tyckte att denna dagen var {{logg.intryck}}.</p>
                    <div id="bildDiv"></div>
                </div>
                <div id="kommentarDiv">
                    <input class="form-control" placeholder="Kommentar"/>
                    <button class="btn btn-default">Skicka kommentar</button>
                </div>
                <div class="alert alert-link well ridge">  Kommentar 
                    <h4>Lärar-Jocke <span class="small">31/1 -16</span></h4>
                    <p>
                        Lärar-Jocke skriver en jättesnäll kommentar till
                        Kalles logg.
                        Lorem ipsum dolor sit amet, consectetur adipiscing 
                        elit. Integer luctus luctus dolor a tincidunt.
                        Mauris finibus, libero vel congue laoreet, lacus 
                        sem consequat mi, eget egestas ligula dolor ac diam.
                        Phasellus molestie malesuada erat, id aliquet ligula
                        elementum ac.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>