<header ng-include="'templates/headers/lararehead.html'"></header>
<div>
    <div class="well text-center col-sm-12 col-md-10 col-md-offset-1">
        <h1 class="text-center">Översikt</h1>
        <hr>
        <label class="text-center">Välj klass
            <select ng-model="selected_klass"
                    ng-options="klass.id as klass.namn for klass in klasser"
                    ng-change="getOmdome(selected_klass)">
            </select>
        </label>
        <br/>
        <div id="chartContainer" class="container"></div>
    </div>
</div> 
</div>

<footer ng-include="'templates/footer.html'"></footer>