<header ng-include="'templates/headers/lararehead.html'"></header>

<div ng-init="laddaAnv()">
    <div class="well text-center col-sm-12 col-md-10 col-md-offset-1">
        <h1 class="text-center">Redigera Användare</h1>
        <hr>
        <div class="row text-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="well">
                    <label for="ddElev">Välj elev:</label>
                    <br/>
                    <select ng-model="ddElev" ng-change="laddaElev()" id="ddElev">
                        <option ng-repeat="elev in EleverLista" value="{{elev.ID}}">
                            {{elev.namn}}
                        </option>
                    </select>
                    <br/><br/>
                    <label>Namn:</label><br>
                    <input id="elevnamn" value="{{elevObj.namn}}" placeholder="Namn"/>
                    <br/><br/>
                    <label>Telefonnummer:</label><br>
                    <input id="elevtfnr" value="{{elevObj.tfnr}}" placeholder="Telefonnummer"/>
                    <br/><br/>
                    <label>Email:</label><br>
                    <input id="elevemail" value="{{elevObj.email}}" placeholder="Email"/>
                    <br/><br/>
                    <label for="klass">Klass:</label>
                    <br/>
                    <select ng-model="elevklass" id="klass" 
                            ng-options="klass.id as klass.namn for klass in klasser">
                    </select>
                    <br/><br/>
                    <label for="HLinput">Handledare</label>
                    <br/>
                    <select ng-model="elevHL_id" id="HLinput" 
                            ng-options="HL.ID as HL.namn_foretag for HL in HLLista">
                    </select>
                    <br/><br/><br/>
                    <button class="btn btn-primary" ng-click="sparaElev()">Spara</button>
                    <button class="btn btn-default" ng-click="rensa()">Avbryt</button>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="well">
                    <label for="ddHL">Välj handledare:</label>
                    <br/>
                    <select ng-model="ddHandledare" ng-change="laddaHL()" id="ddHL">
                        <option ng-repeat="HL in HLLista" value="{{HL.ID}}">
                            {{HL.namn_foretag}}
                        </option>
                    </select>

                    <br/><br/>
                    <label>Namn:</label><br>
                    <input id="HLnamn" value="{{HLObj.namn}}" placeholder="Sven Svensson"/>
                    <br/><br/>
                    <label>Telefonnummer:</label><br>
                    <input id="HLtfnr" value="{{HLObj.tfnr}}" placeholder="0123-456789"/>
                    <br/><br/>
                    <label>Email:</label><br>
                    <input id="HLemail" value="{{HLObj.email}}" placeholder="sven@svensson.se"/>
                    <br/><br/>
                    <label>Företag:</label><br>
                    <input id="HLforetag" value="{{HLObj.foretag}}" placeholder="mittföretag"/>
                    <br/><br/>
                    <label>Användarnamn:</label><br>
                    <input id="HLanvnamn" value="{{HLObj.anvnamn}}" placeholder="Svensson"/>
                    <br/><br/>
                    <label>Lösenord:</label><br>
                    <input id="HLlosen" placeholder="********"/>
                    <br/>
                    <label for="HLlosen">(Ange lösenord om du vill byta till ett nytt, <br/>annars låter du den vara tom)</label>
                    <br/>


                    <button class="btn btn-primary" ng-click="sparaHL()">Spara</button>
                    <button class="btn btn-default" ng-click="rensa()">Avbryt</button>
                </div>
            </div>
        </div>
    </div>
    <footer ng-include="'templates/footer.html'"></footer>
