<header ng-include="'templates/headers/lararehead.html'"></header>

<div ng-controller="momentCtrler" class="container">
    <div class="jumbotron">
        <h1>Skapa Moment:</h1>
    </div>
    <div class="col-sm-6">
        <h3>Innehåll:</h3>
        <textarea rows="4" cols="60" placeholder="Fyll i elevens moment" id="momentInnehall"></textarea><br>
        <button class="btn btn-primary" ng-click="sparaMoment()">Spara</button>
    </div>
    <div class="col-sm-6">
        <h3>Alla Moment:</h3>
        <table>
            <tr ng-repeat="momenten in lararMoment">
                <td>{{momenten.innehall}}</td>
              
            </tr>
        </table>
    </div>
</div>