<header ng-include="'templates/headers/lararehead.html'"></header>
<div ng-controller="momentCtrler" class="container">
    <div class="jumbotron">
        <h1>Tilldela Moment:</h1>
    </div>
    <div class="col-sm-4">
        <h3>Välj klass:</h3>
        <select ng-model="selected_klass" 
                ng-options=""
                ng-change="updateraElevLista()"> 
        </select>
    </div>
    <div class="col-sm-4">
        <h3>Elever</h3>
        <table>
            <tr>
                <th>Elever</th>
                <th>Tilldela</th>
            </tr>
            <tr>
                <td  ng-change="updateraElevsMoment()" ng-repeat="elev in eleverna" value="{{elev.id}}">{{elev.namn}}</td>
                <td>Checkbox</td>
            </tr>
        </table>
    </div>
    
</div>
