<header ng-include="'templates/headers/lararehead.html'"></header>

<div ng-init="getMoment()">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 
         col-md-offset-1 col-sm-offset-1 col-xs-offset-1" id="wrapper">
        <div class="well ridge">
            <h1 class="text-center">Tilldela Moment</h1>
            <label class="text-center col-lg-offset-6">Välj klass
                <select ng-model="selected_klass"
                        ng-options="klass.id as klass.namn for klass in klasser"
                        ng-change="getElever(selected_klass)">
                </select>
            </label>
            <br/>
            <div class="col-lg-6">
                <h2>Moment</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Innehåll</th>
                            <th>
                                <!--                            <input type="checkbox" ng-model="check_moment"/>-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="moment in momentlista">
                            <td>{{moment.innehall}}</td>
                            <td>
                                <input type="checkbox" 
                                       ng-model="moment.checkbox"
                                       ng-checked="check_moment"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <h2>Elever</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Namn</th>
                            <th>
                                <!--                            <input type="checkbox" ng-model="check_elever"/>-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="elev in elever">
                            <td>{{elev.namn}}</td>
                            <td>
                                <input type="checkbox" 
                                       ng-model="elev.checkbox"
                                       ng-checked="check_elever"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-primary" ng-click="submit()">Skicka</a>
            </div>
        </div>
    </div>
</div>
<footer ng-include="'templates/footer.html'"></footer>