<header ng-include="'templates/headers/lararehead.html'"></header>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
    <div class="well text-center" ng-controller="handledareRegCtrl">
        <h1>Registrera handledare</h1><hr>
        <form>
            <label>Namn:</label><br>
            <input ng-model="name" type='text' placeholder=''>
            <br/><br/>
            <label>Användarnamn:</label><br>
            <input ng-model="username" type='text' placeholder=''>
            <br/><br/>
            <label>Email:</label><br>
            <input ng-model="email" type='text' placeholder=''>
            <br/><br/>
            <label>Telefon:</label><br>
            <input ng-model="phone" type='text' placeholder=''>
            <br/><br/>
            <label>Företag:</label><br>
            <input ng-model="frtg" type='text' placeholder=''>
            <br/><br/>Välj program:
            <select ng-model="pr">
               <option ng-repeat="program in programs" value='{{program.id}}'>{{program.namn}}</option>
            </select>
            <br/><br/>
            <label>Lösernord:</label><br>
            <input ng-model="password" type='password' placeholder='********'>
            <br/>
            <br/>
            <a ng-click="registreraHandledare()" class="btn btn-primary">Skicka</a>
        </form>
    </div>
    </div>    
</div>
<script src="https://apis.google.com/js/platform.js" async defer></script>
