<div class="mrwhite">
    <br/>
    <div class="container">
        
        <div class="col-sm-4 center-block">
            <img class="center-block resize" src="BilderAPL/Logotyp_teknikum.png" alt="tek nikum">
        </div>
        
        <div class="col-sm-4 center-block">
            <img class="center-block resize" src="BilderAPL/Logotyp_vaxjo.png" alt="Väcjö">
        </div>
        
        <div class="col-sm-4 ">
            <img class="center-block resize" src="BilderAPL/Logotyp_kungsmadskolan.png" alt="Kungsmadsskolan">
        </div>
        
    </div>    
    
<h1 class="tcenter">Logga in</h1>

<div ng-controller="loginCtrl" class="container">
    <div class="text-center">
        
            <h2>Elev / Lärare</h2>
            <h4>Använd din Google-Mail:</h4> <hr>
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-3">
                    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                </div>
            </div>
        
    </div>
</div>
<hr>
<div class="tcenter">
    <h3><a style="color: #4285F4;" href="#/registration">Ny användare?</a></h3>
    <h3><a style="color: #4285F4;" href="/handledare/">Logga in som handledare?</a></h3>
</div>
<script src="https://apis.google.com/js/platform.js" async defer></script>
</div>
