<form action="http://lundberg.t4.nu/fileupload/index.php" method="post" enctype="multipart/form-data" id="form">
    Bilduppladdning:
    <input type="file" name="fileToUpload" accept="image/*" id="fileToUpload">
    <input type="submit" value="Ladda Upp Bild" name="submit" ng-click="waiting = true">
</form>
<script>
    function showResponse(responseText, statusText, xhr, $form) {

        console.log(responseText);
    }
    var options = {
        success: onImgUrl
    };

    $('#form').ajaxForm(options);
</script>