<header ng-include="'templates/headers/handledarehead.html'"></header>
<div ng-controller="momentCtrler" class="container">
    <div class="jumbotron">
        <h1>Moment:</h1>
    </div>
        <p>Välj din elev:</p>
    <div ng-init="getElever()">
        <select ng-model="dropdownElev" class="btn btn-default"> 
            <option ng-repeat="elev in elever">
                {{elev.namn}}
            </option> 
        </select>
     </div>   
    <button>Välj</button>
    
    <br><br>
    <table class='table table-bordered table-striped'>
        <tr>
            <th>Innehåll</th>
            <th>Avklarat</th>
            <th>Bekräfta</th>
        </tr>
        <tr ng-repeat="momenten in moment">
            <td>{{momenten.innehall}}</td>
            <td>{{getStatus(moment.godkand)}}</td>
            <td><a ng-if="Status(momenten.godkand)" class="btn btn-success" 
                   ng-click="setStatus(momenten.moment_id)">Skicka</a></td>
        </tr>
    </table>
</div>