<header ng-include="'templates/headers/handledarehead.html'"></header>
<div ng-controller="momentCtrler" class="container">
    <div class="jumbotron">
        <h1>Moment:</h1>
    </div>
    <table class='table table-bordered table-striped'>
        <tr>
            <th>Innehåll</th>
            <th>Status</th>
            <th>Bekräfta</th>
        </tr>
        <tr ng-repeat="momenten in momentena">
            <td>{{momenten.innehall}}</td>
            <td>{{momenten.godkand}}</td>
        </tr>
    </table>
    <a class="btn btn-success">Godkänn</a>
</div>